@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
 --clr-bg1: #050a0e; 
 --clr-cl1: #01e3ef;
 --clr-cl2: #60f7ff;
 --clr-wht: #fff;
} 

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--clr-bg1);
  gap: 15px;
}

button {
  display: inline-block;
  color: var(--clr-cl1);
  background: var(--clr-bg1);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s ease;
}
/* Button 1 */
.btn-1 {
  border: 2px solid var(--clr-cl1);
}

.btn-1:hover {
  border:1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
/* Button 2 */
.btn-2 {
  border: 2px solid var(--clr-cl1);
  border-radius: 3px;
}

.btn-2:hover {
  border: 1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
/* Button 3 */
.btn-3 {
  border: 2px solid var(--clr-cl1);
  border-radius: 6px;
}

.btn-3:hover {
  border: 1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
/* Button 4 */
.btn-4 {
  border: 2px solid var(--clr-cl1);
  border-radius: 12px;
}

.btn-4:hover {
  border: 1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
/* Button 5 */
.btn-5 {
  border: 2px solid var(--clr-cl1);
  border-radius: 24px;
}

.btn-5:hover {
  border: 1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
/* Button 6 */
.btn-6 {
  border: 2px solid var(--clr-cl1);
  border-radius: 100px;
}

.btn-6:hover {
  border: 1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
/* Button 7 */
.btn-7 {
  border: 2px solid var(--clr-cl1);
  border-radius: 10px 100px / 120px;
}

.btn-7:hover {
  border: 1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
/* Button 8 rounded*/
.btn-8 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--clr-cl1);  
}

.btn-8:hover {
  border: 1px solid var(--clr-cl2);
  color: var(--clr-wht);
  background: var(--clr-cl1);
  box-shadow: 0 0 10px var(--clr-cl1),
              0 0 40px var(--clr-cl1),
              0 0 80px var(--clr-cl1);
  transition-delay: .1s;
}
